<div class="jumbotron">
  <h1><%= @question.category.name %></h1><br>
  <p><%= @question.question %></p><br>
  <p><%= link_to "Write Memory", new_question_memory_path(@question), class: "btn btn-lg btn-success" %>
     <%= link_to "Skip and get another", category_questions_path, class: "btn btn-primary btn-lg" %>
     <%= link_to "Skip forever", new_question_dna_question_path(@question), class: "btn btn-lg btn-danger" %>
  </p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <%= image_tag "shutterstock_142234237.jpg", size: "335x200"%>
        <h3>Close your eyes</h3>
        <p>See yourself in the moment described above.  Bring it to life in your mind.  Step into the memory and have a look around.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <%= image_tag "brain.jpg", size: "335x200"%>
        <h3>Engage your senses</h3>
        <p>Sight, sound and smell are powerfully in memory evocation.  Think about each of these senses.  When you are engaged, begin to write.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <%= image_tag "writer.jpg", size: "335x200" %>
        <h3>Write with confidence</h3>
        <p>This is part of what made you who you are.  Own your story and write with abandon.  You can always edit later!</p>
      </div>
    </div>
  </div>
</div>