<div class="border-form-div">

<%= simple_form_for(user, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name, label: false, placeholder: 'new first name' %>
  <%= f.input :last_name, label: false, placeholder: 'new last name' %>
  <%= f.input :gender, label: false, collection: ['Male', 'Female', 'Prefer not to say'] %>

    <%= f.button :submit, "update profile" %>
<br>

<% end %>

</div>