<div class="border-form-div">
  <h1>Edit Profile</h1>

<%= simple_form_for(@user) do |f| %>
  <div class="form-inputs">
    <%= f.input :first_name, label: false, autofocus: true %>
    <%= f.input :last_name, label: false, autofocus: true %>
    <%= f.input :email, label: false, autofocus: true %>
  </div><br>
  <div class="btn-group">
    <%= link_to "Cancel", users_path, :class => "btn btn-primary" %>
    <%= f.button :submit, "Update", :class => "btn btn-primary" %>
  </div>
<% end %>
<br>
 <h5><%= link_to 'update username &/or password', edit_user_registration_path(current_user) %></h5><br>
 <h5><%= link_to 'contact us', new_contact_path %></h5><br>

</div>