<h1>Your User information</h2>
  <ul>
    <li><b>Name:  </b><%= @user.full_name %></li>
    <li><b>E-Mail:  </b><%= @user.email %></li>
    <li><b>Birthday: </b><%= @user.birth_year%></li>
    <li><b>Number of Memories: </b><%= @user.memories.count %></li>
  </ul>

<%= link_to 'edit your profile', edit_user_registration_path(current_user) %>