<div class="jumbotron">
  <ul class="nav pull-right">
    <li><p><%= link_to "See All", memories_path%></p></li>
  </ul>
    <h1>Timeline</h1>
</div>

<% @memories.each do |memory| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title"><%= memory.question.question %></h1>
  </div>
  <div class="panel-body">
    <p class="lead"><%= memory.body %></p>
      <ul class="nav nav-justified">
        <p class="text-muted">Tags</p>
          <li><%= link_to memory.question.category.name, {controller: 'memories', action: 'index', :category => memory.question.category} %></li>
          <li><%= link_to memory.year, {controller: 'memories', action: 'index', :year => memory.year} %></li>
          <li><%= link_to memory.season, {controller: 'memories', action: 'index', :season => memory.season} %></li>
          <li><p><%= link_to "Edit Memory", edit_memory_path(memory), class: "btn btn-sm btn-primary pull-right" %></p></li>
          <li><p><%= link_to "Delete Memory", memory, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-sm btn-danger pull-right" %></p></li>
      </ul>
  </div>
</div>
  <% end %>

  <%= will_paginate @memories, renderer: BootstrapPagination::Rails %>


