<div class="border-form-div">
<h2>Contact Us!</h2><br>

<%= simple_form_for @message, url: contact_path do |f| %>

  <%= f.error_notification %>

    <%= f.input :first_name, label: false, required: true, placeholder: 'First Name' %>
    <%= f.input :last_name, label: false, required: true, placeholder: 'Last Name' %>
    <%= f.input :email, label: false, required: true, placeholder: 'E-mail Address' %>
    <%= f.input :subject, label: false, required: true, placeholder: 'Subject' %>
    <%= f.input :body, label: false, required: true, placeholder: 'Message', cols: '28',rows: '5'%><br>

<br>
    <%= f.button :submit, "Submit", :class => "btn btn-primary" %>
<br>
  <% if user_signed_in? %>
  <%= link_to 'Back', :back %>
  <% else %>
  <%= link_to 'Return Home', root_path %>
  <% end %>

<% end %>  

</div>  